<% include partials/header %>

<h2>You fell in love with: <%= thingVar.toUpperCase() %></h2> 

<% if(thingVar.toLowerCase() === 'rusty') { %>
  <p>Good Choice!</p>
<% } else { %>
  <p>Bad choice! You should've said Rusty</p>
<% } %>

<p>P.S. This is the love.ejs file</p>

<% include partials/footer %>